---
title: "Korea University: Intelligence Engineering Lab"
layout: splash
permalink: index.html
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: https://static.pexels.com/photos/11406/c12ee0f379643a278198b2086afd3b9c.jpg #/assets/images/labtop.jpg
  cta_url: /contactus.html
  cta_label: "Contact us!"
  caption: "Lyceum 321B, KOREA UNIVERSITY, Anam-ro 145, Seongbuk-gu, Seoul, Korea"
  image_head_txt: "Intelligence Engineering Lab @ Korea University"
excerpt: "Welcome to the website of Intelligence Engineering Laboratory. Our laboratory conducts researches on Large-scale data Engineering, Data mining &  Knowledge Discovery, Distributed and Parallel Query Processing, Deep Learning, Spatio-temporal Data analysis, and Biomedical Text Mining. If you would like to get further information regarding our lab, please feel free to click the button below."

feature_row:
  - image_path: assets/images/bss.png
    alt: "BSS"
    title: "Deep Learning Based Acoustic Source Separation"
    excerpt: "Speech Enhancement, Singing Voice Separation, Noice Canceling"
    url: "bss.html"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: assets/images/deepnlp2.png
    title: "Deep Learning-based Natural Language Processing"
    excerpt: "Natural Language Processing, Text Mining With Deep Laerning"
    url: "fixpage.html"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: assets/images/stolap.png
    alt: "Spatio-temporal Online Analytic Processing"
    title: "Spatio-temporal Data Analysis"
    excerpt: "STOLAP(SpatioTemproal OnLine Analytic Processing), Trajectory Mining"
    url: "fixpage.html"
    btn_label: "Read More"
    btn_class: "btn--primary"

---



{% include feature_row %}


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Selected Posts" }}</h3>

{% for post in site.posts %}
	{% if post.current %}
		{% include archive-single.html %}
	{% endif %}
{% endfor %}

